#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-radius: 3rem;
}

.trendingbox-logo {
  width: 20rem;
}